version = 1

[*]
ctx-size = 81920
threads = 8
flash-attn = on
cache-type-k = q8_0
cache-type-v = q8_0
ctx-checkpoints = 64
batch-size = 2048
ubatch-size = 2048

[unsloth/Qwen3.6-35B-A3B-MTP-GGUF:Q4_K_M]
reasoning-preserve = true
image-min-tokens = 1024
min-p = 0.00
spec-type = draft-mtp
spec-draft-n-max = 3
spec-draft-p-min = 0.5
n-gpu-layers = all
n-cpu-moe = 37
